* { margin: 0; padding: 0; }
body, html{
    height: auto;
    min-height: 100%;
}
html {
    background: url(/images/snowback.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    background-color: transparent;
    background: transparent;
    height: 100%;
}
pre {
    border: 0;
}
div#toc.toc {
    background-color: rgba(200,240,200,0.6);
    border: 1px solid rgba(34, 51, 34, 0.22);
}
div.jumbotron {
    background-color: rgba(200,240,200,0.2);
    border: 1px solid rgba(34, 51, 34, 0.22);
    color: #000;
    font-weight: 400;
}
div.jumbotron p {
    font-weight: 400 !important;
}
a {
    color: #428731;
}
a:hover {
    color: #9D3042;
}
.admonitionblock > table td.icon {
    font-size: xx-large;
}
#footer {
    background-color: rgba(200,240,200,0.2);
    border: 1px solid rgba(34, 51, 34, 0.22);
}
table { background: rgba(230,230,230,0.2);}
table thead, table tfoot { background: rgba(230,230,230,0.2); }
table tr.even, table tr.alt, table tr:nth-of-type(even) { background: rgba(240,200,200,0.2); }
input.form-control, button, .btn-default {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: none;
    color: #ffffff !important;
    text-shadow: 0 0 5px #16c43b, 0 0 10px #16c43b !important;
    box-shadow: 0 0 5px #16c43b, 0 0 10px #16c43b !important;
}
input.form-control:hover, button:hover, .btn-default:hover {
    background-color: rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.5);
    background-image: none;
    color: #ffffff !important;
    box-shadow: 0 0 5px #ff4918, 0 0 10px #ff4918 !important;
}
button.navbar-toggle {
    background-color: white;
}
.navbar-default button.navbar-toggle:hover, .navbar-default button.navbar-toggle:focus {
    background-color: white;
}
.navbar-toggle:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    #search {
        width: 200px;
    }

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    #search {
        width: 100px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}
@media only screen and (max-width : 768px) {
    .navbar-collapse {
        background-color: rgba(0, 0, 0, 0.5);
        border: none;
    }
    #search {
        width: auto;
        display: inline-block;
    }
}
.navbar-default button.navbar-toggle span.icon-bar {
    background-color: #16c43b;
}
.navbar {
    background-image: url(/images/treeback.png);
    background-size: contain;
    background-repeat: repeat-x;
    border-bottom: 0;
    padding-bottom: 20px;
    background-color: transparent;
    box-shadow: none;
}
a.navbar-brand {
    font-weight: bold;
    color: #ffffff !important;
    text-shadow: 0 0 5px #16c43b, 0 0 10px #16c43b, 0 0 15px #16c43b, 0 0 20px #16c43b, 0 0 30px #16c43b, 0 0 40px #16c43b, 0 0 55px #16c43b, 0 0 75px #16c43b !important;
}
ul.navbar-nav>li>a {
    font-weight: bold;
    color: #ffffff !important;
    text-shadow: 0 0 5px #c2bd25, 0 0 10px #c2bd25, 0 0 15px #c2bd25, 0 0 20px #c2bd25, 0 0 30px #c2bd25, 0 0 40px #16c43b, 0 0 55px #16c43b, 0 0 75px #16c43b !important;
}
a.navbar-brand:hover{
    font-weight: bold;
    color: #ffffff !important;
    text-shadow: 0 0 5px #ff4918, 0 0 10px #ff4918, 0 0 15px #ff4918, 0 0 20px #ff4918, 0 0 30px #ff4918, 0 0 40px #ff4918, 0 0 55px #ff4918, 0 0 75px #ff4918 !important;
}
ul.navbar-nav>li>a:hover {
    font-weight: bold;
    color: #ffffff !important;
    text-shadow: 0 0 5px #16c43b, 0 0 10px #16c43b, 0 0 15px #16c43b, 0 0 20px #16c43b, 0 0 30px #16c43b, 0 0 40px #16c43b, 0 0 55px #16c43b, 0 0 75px #16c43b !important;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background-color: transparent;
}
ul.dropdown-menu > li > a {
    color: #00aa00;
    font-weight: bold;
}
ul.dropdown-menu > li > a:hover {
    background-color: #00aa00;
    color: snow;
    font-weight: bold;
}
.dropdown-menu {
    background-image: linear-gradient(134deg, #f5cece 25%, #faf7e3 25%, #faf7e3 50%, #f5cece 50%, #f5cece 75%, #faf7e3 75%, #faf7e3 100%);
    background-size: 27.80px 28.79px;
    padding-top: 20px;
    top: 50px;
    z-index: -20;
    border-radius: 10px;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    background: transparent;
    font-color: #00aa00;
    text-shadow: 0 0 20px #88ff88;
}
*:not(pre) > code {
    border: none !important;
    background-color: transparent;
    white-space: pre !important;
}
ol.linenums {
    margin-left: 2.5em;
}
h5 {
    font-size: 20px;
}
ol.linenums li {
    padding-left: 1em;
}
div.content {
    background-color: rgba(255,255,255,0.6);
}
td div.content {
    background-color: transparent !important;
}
p.tableblock span.image img {
    max-width: none !important;
}
td div.content div.imageblock div.content img {
    max-width: none !important;
}
